<div class="container">
	<div class="row d-flex justify-content-center">
		<div class="col-md-6">
		<div class=" my-2 card mr-4">
				<%= image_tag obj.image_url , height: '600', width: '600', class: "card-img-top mt-3" %>
			<div class="d-flex justify-content-between my-3 mx-2">
				<% if logged_in? %>
					<div id="like-icon-article-<%= obj.id.to_s %>" >
						<%= render 'likes/like', article: obj, current_user: current_user %>
					</div>
				 <% if logged_in? and (current_user.id == obj.user.id) %>
				   <%= link_to edit_article_path(obj) do %>
		   			<i>
		   				<%= image_tag 'edit.png', height: '30', width: '30' ,class: "link_to" %> </i>
		   			<% end %>
		   			<%= link_to  article_path(obj), method: :delete ,class: "link_to" do %>
					<i class="fa fa-trash fa-2x" aria-hidden="true"></i>
					<% end %>
				<% end %>
			<% end %>
			</div>
			<div class="card-body">
				<p class="my-4 card-title d-flex justify-content-between"><strong> 	<%= obj.title %> </strong> <span class="badge badge-pill badge-primary text-white">	<%= obj.category.name %> </span> </p> 
				<p  class=" text-muted card-text"><%= obj.description %> </p>
			</div>
		</div>
	</div>
		<div class="col-6 d mt-5">
			<ul class="list-group">
			  <li class="list-group-item">Comments </li>
			<% obj.comments.each do |comment| %>
    		<li  class="list-group-item list-group-item-success mt-2 d-flex justify-content-between title"> <strong> <%= comment.comment %> </strong> 
    			<% if current_user.id == comment.user.id %>
	    			<%= link_to comment_path(comment.id), method: :delete do %> <i class="fa fa-times link_to" aria-hidden="true"></i> 
					<% end %>
    			<% end %> 
    		</li>
			</ul>
			<% end %>
				<%= form_for(@comment , :html => {:id=>'form_id'}) do |f| %>
			<div class="my-auto d-flex align-items-center">
				<%= f.hidden_field :article_id , value: obj.id %>
				<%= f.text_field :comment, placeholder: "Comment", class:"form-control mt-3 " %>
					<%= link_to "", :onclick => "$('#form_id').submit()", class: "link_to" do %>
			    <i class="fa fa-paper-plane fa-2x mx-3 mt-3">  </i>
			    <% end %>
			</div>
			<% end %> 
			<%= link_to "Back",  articles_path, class: "btn btn-dark my-5 " %>
		</div>
	</div>
</div>